.name {
    display: flex;
    column-gap: 0.5em;
    justify-content: space-between;
    align-items: flex-end;
}

.level, .skills {
    font-size: 0.75em;
}

.skills {
    display: flex;
    column-gap: 0.125em;
    align-items: center;
}

.skills, .name {
    margin-bottom: 0.5em;
}