.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    position: absolute;
    width: 100%;
    min-height: 100dvh;
    justify-content: flex-start;
    gap: 1em;
    padding-inline: 0.5em;
    padding-top: 10dvh;
    overflow-y: auto;
    background-image: url("/sprites/main-background.png");
    background-position: center;
}

.title {
    font-size: 2em;
    color: white;
    margin-bottom: 1em;
}

@media (max-height: 800px) {
    .container {
        padding-top: 5dvh;
    }
}