.difficulty-container {
    display: flex;
    gap: 1em;
}

.difficulty {
    background-color: var(--card-color);
    color: white;
    cursor: pointer;
    padding: 0.5em 1em;
    padding-bottom: 1em;
    flex: 1 1 0;
    border-radius: 0.25em;
}

.difficulty:hover {
    background-color: rgb(114, 114, 114);
}

.heading {
    font-size: 1.2em;
    color: white;
    /* margin-bottom: 1em; */
    /* display: flex;
    align-items: center;
    gap: 0.5em; */
}

.locked {
    opacity: 0.6;
    cursor: default;
}

.locked:hover {
    background-color: var(--card-color);
}

.unlockText {
    margin-top: 1em;
    font-size: 0.9em;
    color: white;
}

.header {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-bottom: 1em;
}

.back-button {
    position: absolute;
    left: 0.5em;
    font-size: 1.25em;
    padding-inline: 0.5em;
    top: 50%;
    transform: translateY(-50%);
}