.container {
    width: 100%;
    height: 100dvh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.75em;
}

.heading {
    font-size: 1.25em;
    color: white;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    color: white;
}

.option {
    display: flex;
    border: 1px solid white;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    border-radius: 0.25em;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background-color: var(--card-color);
    gap: 0.25em;
}

.option:hover {
    cursor: pointer;
    background-color: rgb(122, 122, 122);
}

.towers {
    display: flex;
    gap: 0.25em;
}

.towers>* {
    border: 1px solid white;
}

.upgrades {
    display: flex;
    gap: 0.25em;
}

.upgrades>* {
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 0.25em;
    padding: 0.25em;
}