.settings-container .button-container {
    margin-bottom: 0.5em;
}

.toggle-container {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.settings-container {
    display: flex;
    flex-direction: column;
    user-select: none;
}

.key {
    background-color: #333;
    padding: 0 0.25em;
    border-radius: 0.25em;
    text-align: center;
}

.key:hover {
    cursor: pointer;
}

.key-container {
    display: grid;
    grid-template-columns: 1fr 3.75em 3.75em;
    align-items: center;
    gap: 1em;
}

.key.selected {
    outline: yellow 1px solid;
}

.heading {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}