.deck {
    cursor: pointer;
    position: relative;
    width: 3em;
    pointer-events: auto;
}

.card1,
.card2,
.card3,
.top-card {
    position:absolute;
    border-radius: 0.375em;
    width: 100%;
    height: 100%;
    background-color: var(--card-color);
    border: 1px solid rgba(255,255,255,0.6);
    color: white;
    padding-block: 1.75em;
}

.card1 {
    box-shadow: 0 0.125em 0.375em rgba(0,0,0,0.4);
}

.card2 {
    transform: translate(0.125em, -0.125em);
}

.card3 {
    transform: translate(0.25em, -0.25em);
}

.top-card {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transform: translate(0.375em, -0.375em);
    transition: transform 0.18s cubic-bezier(.2,.8,.2,1);
    box-shadow: 0 0.125em 0.375em rgba(0,0,0,0.4);
}

.top-card:not(.cant-afford):hover {
    transform: translate(-0.5em, -0.875em) rotate(-5deg);
}

.label {
    display: flex;
    align-items: center;
    column-gap: 0.125em;
}

.icon {
    display: flex;
    align-items: center;
    color: white;
    text-shadow:
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
    position: absolute;
    left: -50%;
    top: -2.5em;
}

@media (max-width: 1400px) {
    .icon {
        left: -55%;
    }
}

@media (max-width: 800px) {
        .icon {
            left: -75%;
            top: -2.75em;
        }
    }
