.container {
    position: absolute;
    background: transparent;
    user-select: none;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    padding-right: 1em;
    pointer-events: none;
    column-gap: 1em;
    width: 100%;
}

.tower-container {
    width: 100%;
    flex: 1 1 0;
    align-self: flex-end;
    display: flex;
    column-gap: 0.25em;
}

.right-container {
    flex: 1 1 0;
    align-self: flex-end;
    display: flex;
    column-gap: 1em;
    justify-content: flex-end;
}

.right-container * {
    flex-shrink: 0;
}