.button {
    padding: 0.25em;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.button:disabled {
    cursor: default;
}

.popup-contents {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
}

.stats {
    display: flex;
    flex-direction: column;
    row-gap: 0.125em;
}

.stats > * {
    display: flex;
    align-items: center;
    column-gap: 0.25em;
}

.stats, .cost {
    font-size: 0.75em;
}