.popup-contents {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
}

*:has(> .popup-contents) {
    pointer-events: none;
}

.cost, .description {
    font-size: 0.75em;
}

.description {
    width: 30ch;
}

.element-description {
    font-size: 0.75em;
    width: 20ch;
}